@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin:0;padding:0;list-style-type:none;box-sizing:border-box;font-style: normal;border:0;outline:0;font-family: 'Pretendard', -apple-system, 'Apple SD Gothic Neo', 'Malgun Gothic','dotum','돋움','gulim','굴림','Tahoma';}

html{font-size:62.5%;-webkit-text-size-adjust:none;box-sizing:border-box;-webkit-font-smoothing:antialiased;scroll-behavior: smooth;overflow-y: scroll;background:#ffffff;}
body{line-height: 1.5;font-size: 16px;-webkit-text-size-adjust:none;box-sizing:border-box;-webkit-font-smoothing:antialiased;}
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary{display:block}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,
q:before, q:after{content:'';}
a{color: #000000;text-decoration:none;background:transparent;cursor:pointer}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
ins{color:#000;text-decoration:none}
del{color:#aaa;text-decoration:line-through}
abbr[title], dfn[title]{border-bottom:1px dotted #000;cursor:help}
button{cursor:pointer;background:transparent}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
select{font-size:14px;border:1px solid #ccc;}
label, input, button, select, img{vertical-align:middle}
table {border-collapse: collapse;border-spacing: 0;}
input{}
select {margin:0;}
em,address,cite{font-style:normal}
input,select,textarea,button{border-radius:0;resize:none}
p {margin:0;padding:0;word-break:break-all}
caption,
hr{position:absolute;top:0;left:0;margin:0;padding:0;display:inline-block;line-height:0;font-size:0;border:0;overflow:hidden}
pre{overflow-x:scroll;}
.sr-only{position: absolute;width: 1px;height: 1px;margin: -1px;overflow: hidden;padding: 0;border: 0;clip: rect(0,0,0,0)}
